.Fourth-info {
    text-align: center;
}
.four-line{
    border: 1px solid black;
    margin-left: 47.5%;
    margin-right: 48%;
    margin-top: -25px;
}

@media only screen and (max-width: 790px) {
    .four-line{
        display: none;
    }
    .Fourth-info h1{
        font-size: 18px;
    }
}